<mat-accordion multi="false" *ngIf="posts.length > 0">
  <mat-expansion-panel *ngFor="let p of posts">
    <mat-expansion-panel-header>
      {{p.title}}
    </mat-expansion-panel-header>
    <p>{{p.content}}</p>
    <mat-action-row *ngIf="userIsAuth">
      <a mat-button i18n color="primary" [routerLink]="['/edit', p.id]">Edit</a>
      <button mat-button i18n color="warn" (click)="onDelete(p.id)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator *ngIf="posts.length > 0" [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event);"></mat-paginator>
<p class="info-text mat-body-1" i18n *ngIf="posts.length <= 0">No Posts</p>
