<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
        <mat-form-field>
            <input matInput ngModel name="email" placeholder="Email" type="email" #emailInput="ngModel" required email />
            <div *ngIf="emailInput.errors && emailInput.touched">
                <mat-error *ngIf="emailInput.errors['required']">Email is required</mat-error>
                <mat-error *ngIf="emailInput.invalid">Invalid Email</mat-error>
            </div>
        </mat-form-field>
        <mat-form-field>
            <input matInput ngModel name="password" placeholder="Password" type="password" #passwordInput="ngModel" required minlength="6" />
            <div *ngIf="passwordInput.errors && passwordInput.touched">
                <mat-error *ngIf="passwordInput.errors['required']">Password is required</mat-error>
                <mat-error *ngIf="passwordInput.invalid">Password too short</mat-error>
            </div>
        </mat-form-field>
        <button mat-raised-button i18n color="accent" type="submit" [disabled]="signupForm.invalid">Sign Up</button>
    </form>
</mat-card>